/* Variables */
:root{
    --redish-color: #f39189;
    --dark-color: #1c1c1c;
    --grey-color: #e1e1e1;
    --info-color:#9f9f9f;
    --hover-grey-btn:#cccccc;
    --hover-tag: rgb(214,214,214);
    --hover-btn: #e46f64;
    --hover-dark-btn: #333538;
    --brand-font: 'Comfortaa', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --info-font: 'Roboto', sans-serif;
}
/* Pre-styles */
*, ::after, ::before{
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: var(--brand-font);
    font-weight: 300;
    color: white;
}

h2, h3{
    font-family: var(--title-font);
    font-weight: 800;
}

h3{
    font-weight: 600;
}

p{
    color: var(--info-color);
    font-family: var(--info-font);
    font-weight: 400;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
}
/* Responsive */
#menu{
    background-color: var(--grey-color);
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: black;
    transition: all .2s ease;
}

.deactive{
    transform: translateX(100%);
}

#open-menu{
    display: none;
    position: fixed;
    z-index: 1001;
    color: white;
    top: 3.5%;
    right: 20px;
    cursor: pointer;
    background-color: var(--hover-dark-btn);
    padding: 10px 16px;
    border-radius: 50%;
    transition: all .2s ease;
}

#open-menu:hover{
    background-color: var(--hover-btn);
    transition: all .2s ease;
}

.resp-menu{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 78px;
}

.resp-menu hr{
    border: 1px solid black;
}

.resp-menu i{
    position: relative;
    left: 40%;
    padding: 10px 0;
    font-size: 1.5rem;
    cursor: pointer;
}
.resp-menu i:hover{
    color: var(--hover-dark-btn);
}

.resp-menu ul{
    list-style: none;
    padding: 0;
}

.resp-menu li{
    padding: 10px 0;
    border-bottom: 1px solid var(--hover-grey-btn);
}

.resp-menu li:hover{
    background-color: var(--hover-grey-btn);
}

.resp-menu li a{
    color: var(--dark-color);
    width: 100%;
    font-size: 0.9rem;
    font-family: var(--title-font);
    font-weight: 300;
}

.resp-menu li a:hover{
    color: var(--hover-dark-btn);
}

.resp-menu .btn{
    margin: 10px auto;
    width: 70%;
    background-color: var(--dark-color);
    transition: all .2s ease;
}

.resp-menu a.unfilled-btn{
    background: white;
    border: none;
    color: black;
    transition: all .2s ease;
}

.resp-menu a.btn:hover{
    background-color: var(--hover-dark-btn);
    transition: all .2s ease;
}

.resp-menu a.unfilled-btn:hover{
    border: none;
    background-color: var(--hover-grey-btn);
    color: black;
    transition: all .2s ease;
}

/* Reusable classes */
.container{
    max-width: 1300px;
    padding: 2% 4%;
    margin: 0 auto;
}

.btn{
    background-color: var(--redish-color);
    font-family: var(--title-font);
    padding: 10px 25px;
    border-radius: 5px;
}

.unfilled-btn{
    border: 1px solid var(--redish-color);
    color: var(--redish-color);
    background-color: transparent;
    margin-right: 10px;
}

.title{
    letter-spacing: 0.3rem;
}

/* Header */
header{
    width: 100%;
    height: 80px;
    background-color: #1c1c1c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
header hr{
    margin: 0 40px;
    height: 40px;
    border: 1px solid grey;
}
header div.title h1{
    letter-spacing: 0.3rem;
    transition: all .2s ease;
}
header div.title h1:hover{
    transform: scale(1.05);
    transition: all .2s ease;
}
.elements{
    display: flex;
    align-items: center;
}

.elements nav a{
    font-size: 0.9rem;
    font-family: var(--title-font);
    font-weight: 300;
    margin-left: 20px;
    transition: all .2s ease;
}

.elements nav a:hover{
    color: var(--hover-tag);
    transition: all .2s ease;
}

.elements div.buttons a{
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.elements div.buttons a:hover{
    background-color: var(--hover-btn);
}

.elements div.buttons a.unfilled-btn:hover{
    border: 1px solid var(--hover-btn);
    background-color: var(--hover-btn);
    color: white;
    transition: all 0.2s ease;
}

/* Showcase */
#showcase{
    position: relative;
    margin-top: 80px;
    background-color: var(--redish-color);
    height: 80vh;
}

#showcase .container{
    height: 100%;
}

#showcase .btn{
    background-color: var(--dark-color);
    margin-right: 10px;
    transition: all .2s ease;
}

#showcase .btn:hover{
    background-color: var(--hover-dark-btn);
    transition: all .2s ease;
}
#showcase .unfilled-btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: all .2s ease;
}
#showcase .unfilled-btn:hover{
    background-color: white;
    color: var(--dark-color);
}
#showcase i{
    margin-right: 8px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.grid div:first-child{
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}

.grid h2{
    font-size: 3.15rem;
    color: white;
    margin-bottom: 1.5rem;
}

.grid img{
    position: absolute;
    top: 10%;
    transform: rotate(10deg);
    width: 20%;
    right: 18%;
}

/* Benefits Section */
#benefits{
    height: 100%;
    position: relative;
    background-color: white;
    padding: 6.5% 0;
    z-index: 10;
}
#benefits .flex{
    display: flex;
    text-align: center;
    justify-content: center;
}

#benefits i{
    color: var(--redish-color);
    margin-bottom: 8px;
    transition: all .2s ease;
}
#benefits i:hover{
    color: var(--hover-btn);
    transition: all .2s ease;
}
.flex div{
    width: 200px;
    margin: 0 1rem;
}

/* Pricing Section */
#pricing{
    background-color: var(--grey-color);
    text-align: center;
}

#pricing h2{
    font-size: 3rem;
}

#pricing h3{
    font-size: 1.5rem;
    font-weight: 400;
}

.card{
    width: 250px;
    height: 310px;
    margin: 3rem 15px;
    display: inline-block;
    background: white;
    border-radius: 5px;
}

.card h4{
    font-size: 1.3rem;
    font-family: var(--info-font);
    padding-top: 10px;
}

.card h4::after{
    content: "";
    display: block;
    border: 1px solid var(--grey-color);
    margin-top: 10px;
}
.card-info{
    height: 200px;
}
.card-info h5{
    font-size: 1.6rem;
    font-family: var(--info-font);
    margin-bottom: 10px;
}

.card-info p{
    margin: 8px 0;
}

.info-cont{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card a{
    background-color: var(--dark-color);
    font-family: var(--title-font);
    position: relative;
    top: 15px;
    padding: 10px 50px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .2s ease;
}

.card a:hover{
    background-color: var(--hover-dark-btn);
    transition: all .2s ease;
}

/* Footer */
footer{
    background-color: var(--dark-color);
    padding: 1.5rem 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1{
    margin-bottom: 10px;
    transition: all .2s ease;
}

footer h1:hover{
    transform: scale(1.05);
    transition: all .2s ease;
}

footer p{
    font-weight: 300;
    font-size: 0.85rem;
}

footer i{
    font-size: 1.5rem;
    color: white;
    margin-left: 25px;
    text-align: center;
    border-radius: 50%;
    transition: all .2s ease;
}

footer i:hover{
    color: var(--hover-btn);
    transition: all .2s ease;
}