/* Variables */
:root{
    --redish-color: #f39189;
    --dark-color: #1c1c1c;
    --brand-font: 'Comfortaa', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --info-font: 'Roboto', sans-serif;
    --hover-tag: rgb(214,214,214);
    --hover-btn: #e46f64;
    --hover-dark-btn: #333538;
    --info-color:#9f9f9f;
}
/* Pre-styles */
*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: var(--brand-font);
    font-weight: 300;
    color: white;
}

h2, h3{
    font-family: var(--title-font);
    font-weight: 800;
}

h3{
    font-weight: 600;
}

p{
    color: var(--info-color);
    font-family: var(--info-font);
    font-weight: 400;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
}

/* Reusable classes */
.container{
    max-width: 1300px;
    padding: 2% 4%;
    margin: 0 auto;
}

.btn{
    background-color: var(--redish-color);
    font-family: var(--title-font);
    padding: 10px 25px;
    border-radius: 5px;
}

.unfilled-btn{
    border: 1px solid var(--redish-color);
    color: var(--redish-color);
    background-color: transparent;
    margin-right: 10px;
}

/* Header */
header{
    width: 100%;
    background-color: #1c1c1c;
}
header div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header hr{
    margin: 0 40px;
    height: 40px;
    border: 1px solid grey;
}
header div.title h1{
    letter-spacing: 0.3rem;
    transition: all .2s ease;
}
header div.title h1:hover{
    transform: scale(1.05);
    transition: all .2s ease;
}
.elements{
    display: flex;
    align-items: center;
}

.elements nav a{
    font-size: 0.9rem;
    font-family: var(--title-font);
    font-weight: 300;
    margin-left: 20px;
    transition: all .2s ease;
}

.elements nav a:hover{
    color: var(--hover-tag);
    transition: all .2s ease;
}

.elements div.buttons a{
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.elements div.buttons a:hover{
    background-color: var(--hover-btn);
}

.elements div.buttons a.unfilled-btn:hover{
    border: 1px solid var(--hover-btn);
    background-color: var(--hover-btn);
    color: white;
    transition: all 0.2s ease;
}

/* Showcase */
#showcase{
    position: relative;
    background-color: var(--redish-color);
    height: 80vh;
}

#showcase .container{
    height: 100%;
}

#showcase .btn{
    background-color: var(--dark-color);
    margin-right: 10px;
    transition: all .2s ease;
}

#showcase .btn:hover{
    background-color: var(--hover-dark-btn);
    transition: all .2s ease;
}
#showcase .unfilled-btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: all .2s ease;
}
#showcase .unfilled-btn:hover{
    background-color: white;
    color: var(--dark-color);
}
#showcase i{
    margin-right: 8px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.grid div:first-child{
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}

.grid h2{
    font-size: 3.15rem;
    color: white;
    margin-bottom: 1.5rem;
}

.grid img{
    position: absolute;
    transform: rotate(10deg);
    width: 250px;
    right: 18%;
}

/* Benefits Section */
#benefits{
    height: 100%;
    position: relative;
    background-color: white;
    padding: 6.5% 0;
    z-index: 10;
}
#benefits .flex{
    display: flex;
    text-align: center;
    justify-content: center;
}

#benefits i{
    color: var(--redish-color);
    margin-bottom: 8px;
    transition: all .2s ease;
}
#benefits i:hover{
    color: var(--hover-btn);
    transition: all .2s ease;
}
.flex div{
    width: 200px;
    margin: 0 1rem;
}